<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Crptofo - One Stop Information page for Crypto</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="styles/main.css" />
</head>
<body>
    <header>
      <div class="header">
        <div class="logo">
          <img src="" alt="" />
        </div>
        <div class="header-home-btn">
          <a href="/">Home</a>
        </div>
      </div>
    </header>
    <main>
</html>
